@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,500;1,600&display=swap');

html,
body {
  margin: 0
}

.homepage {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom right, #e66465, #9198e5);
    height: 100vh;

}

.intro {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
}

.intro-header {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.description,
.github {
    padding: 20px;
    margin-top: 25px;
}

.search {
    flex-basis: 800px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.kpoplogo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* margin: 10px; */
}

.github>img {
    width: 32px;
    height: 32px;
}

.github>a {
    margin-left: 10px;
    padding-top: 10px;
}

h1 {
    margin-top: 35px;
    margin-left: 10px;
}


/* .intro-title {
    display: flex;
    flex-direction: row;
} */